click==8.0.0
Flask==2.0.0
glob2==0.7
gunicorn==20.1.0
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
Werkzeug==2.0.0
dnspython==2.1.0; python_version >= "3.6"
email-validator==1.1.2
flask-wtf==0.14.3
idna==3.1; python_version >= "3.4"
python-dotenv==0.15.0
uwsgi==2.0.19.1
wtforms==2.3.3
pandas
matplotlib
mne
numpy
PyWavelets
seaborn
scipy
astropy
# entropy
nolds
sklearn
