{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}"
        type="text/css"
    />

{% endblock %}

{% block content %}

    <div class="form-wrapper">
       <div>
        <h2 class="title">statistics</h2>
        <table border="1" class="dataframe">
            <thead>
            <tr style="text-align: right;">
                <th></th>
                {% for column in table["columns"] %}
                <th>{{column}}</th>
                {%endfor%}
            </tr>
            </thead>
            <tbody>
            {% for data in table['data']%}
            <tr>
                <th>{{table["index"][loop.index-1]}}</th>
                {% for each in data%}
                  <th> {{each}}</th>
                {%endfor%}
            </tr>
            {%endfor%}
            </tbody>
        </table>
        </br>
       </div>

      <h2 class="title">confusion matrix</h2>
      <img src="{{url_for('static', filename='plot1.png')}}" alt="plot 1" >

      <h2 class="title">performance</h2>
      <img src="{{url_for('static', filename='plot2.png')}}" alt="plot 2" >

      <h2 class="title">classwise performance</h2>
      <img src="{{url_for('static', filename='plot3.png')}}" alt="plot 3" >

      <a href="{{ url_for('visualize') }}">
          <button>Start over</button>
      </a>
    </div>

{% endblock %}
