{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/forms.css') }}"
        type="text/css"
    />

{% endblock %}

{% block content %}

    <div class="form-wrapper">
      <h2 class="title">plot 1</h2>
      <img src="{{url_for('static', filename='plot1.png')}}" alt="plot 1" >

      <h2 class="title">plot 2</h2>
      <img src="{{url_for('static', filename='plot2.png')}}" alt="plot 2" >

      <h2 class="title">plot 3</h2>
      <img src="{{url_for('static', filename='plot3.png')}}" alt="plot 3" >

      <a href="{{ url_for('visualize') }}">
          <button>Start over</button>
      </a>
    </div>

{% endblock %}
